*{margin: 0px;}
body{overflow: hidden;}
h1, h2, p, a{color: white;}
a:hover{color: black;}
h4{color: black;}
a{text-decoration:none}
h3{
	color: black;
	text-align: center;
	padding-right: 2px;
}
.container{
	width: 100%;
	height: 881px;
	background-color: black;
	display: inline-block;
}
.layer1{
	width: 100%;
	height: 55px;
	background-color: black;
	position: relative;
	display: inline-block;
	z-index: 1px;
}
.layer2{
	width: 98%;
	height: 870px;
	border-top: 5px solid white;
	background-color: rgba(0,0,222,.5);
	display: inline-block;
	overflow-x: hidden;
	overflow-y: scroll;
	top: 0px;
	position: relative;
	z-index: 0px;
	padding-left: 1%;
	padding-right: 1%;
}
/*.garis{
	width: 100%;
	height: 5px;
	display: inline-block;
	position: relative;
	top: -4px;
	background-color: #ffffff;
	border: 0px;
}*/
.menu, .layer1, .media-sosial, .Galeri-seni, .Daftar-serial, .permainan{
	display: inline-block;
}
/*.menu{
	border-color: #ffffff;
	border-top: 5px;
	border-left: 5px;
	border-right: 5px;
}*/
.tombolp{
	width: 100px;
	height: 40px;
	background-color: #FF0055;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;
	left: 35px;
	top: 15px;
	bottom: 0px;
	display: inline-block;
}
.media1{
	position: relative;
/*	top: 11px;*/
	left: 70px;
}
.galeris1{
	position: relative;
	left: 105px;
}.video1{
	position: relative;
	left: 140px;
}
.game1{
	position: relative;
	left: 175px;
}
.menu1{
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	display: inline-block;
	width: 100px;
	height: 40px;
	z-index: 0;
	transition: .3s;
}
.menu1:hover{
	background-color: black;
	z-index: 1;
}
.media1{
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	width: 100px;
	height: 40px;
	z-index: 0;
	transition: .3s;
}
.media1:hover{
	background-color: black;
	z-index: 1;
}
.galeris1{
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	width: 100px;
	height: 40px;
	z-index: 0;
	transition: .3s;
}
.galeris1:hover{
	background-color: black;
	z-index: 1;
}
.video1{
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	width: 100px;
	height: 40px;
	z-index: 0;
	transition: .3s;
}
.video1:hover{
	background-color: black;
	z-index: 1;
}
.game1{
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
	display: inline-block;
	width: 100px;
	height: 40px;
	z-index: 0;
	transition: .3s;
}
.game1:hover{
	background-color: black;
	z-index: 1;
}
.meme{
	position: relative;
	top: 7px;
	text-align: center;
}
.profilec{
	position: relative;
/*	left: 10px;*/
	top: 5px;
	text-align: center;
}
.datamenu{
	z-index: 1px;
	width: 100%;
	left: -100%;
	right: 0%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	transition: 1s;
}
/*.datamenu:target {
	z-index: 99px;
	height: auto;
	left: -100%;
	right: 0%;
	bottom: 0px;
	width: 100%;
}*/
.datamediasosial{
	z-index: 2px;
	width: 100%;
	left: -100%;
	right: 0%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	transition: 1s;
}
.datagaleri{
	z-index: 3px;
	width: 100%;
	left: -100%;
	right: 0%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	transition: 1s;
}
.dataserial{
	z-index: 4px;
	width: 100%;
	left: -100%;
	right: 0%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	transition: 1s;
}
.datagame{
	z-index: 5px;
	width: 100%;
	left: -100%;
	right: 0%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	transition: 1s;
}
.datamenu, .datamediasosial, .datagaleri, .dataserial, .datagame{
	display: inline-block;
}
.lisensi{
/*	margin-top: 10px;*/
	width: 99%;
	height: 250px;
	border-top: 5px solid white;
	background-color: black;
/*	padding-right: 1%;*/
	padding-left: 1%;
}
.datapribadi{
	display: inline-block;
	width: 100%;
	height: auto;
}
.resmi2{
	width: 100px;
	height: 100px;
	background-image: url("lisensi-resmi2.png");
/*	background-color: #00ffde;*/
}
img{
	width: 200px;
	height: 200px;
	display: inline-block;
/*	margin-left: auto;
	margin-right: auto;*/
}
ul, li{color: white;}
.ggggg, br{
	color: rgba(0.0.0.0);
	display: inline-block;
}
.tutup, .tutup2, .tutup3, .tutup4{
/*	float: right;*/
	width: 25px;
	height: 25px;
	background-color: white;
	margin-top: 5px;
	margin-right: 5px;
	position: absolute;
	left: 97.5%;
	opacity: .6;
	border-radius: 5px;
	transition: .3s;
}
.tutup:hover {
	width: 25px;
	height: 25px;
	background-color: white;
	margin-top: 5px;
	margin-right: 5px;
	position: absolute;
	left: 97.5%;
	opacity: 1;
	border-radius: 0px;
}
.tutup2:hover {
	width: 25px;
	height: 25px;
	background-color: white;
	margin-top: 5px;
	margin-right: 5px;
	position: absolute;
	left: 97.5%;
	opacity: 1;
	border-radius: 0px;
}
.tutup3:hover {
	width: 25px;
	height: 25px;
	background-color: white;
	margin-top: 5px;
	margin-right: 5px;
	position: absolute;
	left: 97.5%;
	opacity: 1;
	border-radius: 0px;
}
.tutup4:hover {
	width: 25px;
	height: 25px;
	background-color: white;
	margin-top: 5px;
	margin-right: 5px;
	position: absolute;
	left: 97.5%;
	opacity: 1;
	border-radius: 0px;
}
.menuutama1{
	width: 100%;
	height: 100%;
	background-color: #00ffde99;
}
.animasiaja{
	width: 100px;
	height: 100px;
	background-color: green;
	margin-left: 5px;
}
/*.tutup2{
	right: -276px;
}*/
